<%= f.input :email, :wrapper => :append do %>
  <%= f.input_field :email, class: 'span6' %><span class="add-on"><a href='#' class='js-remove-nested-item'><i class="icon-remove"></i></a></span>
<% end -%>
