<h1 class='text-center'>You Tell First!</h1>

<div class='row span10 offset1'>
  <div class="well" style="margin-top: 26px;">
    <p class='lead text-center'><strong>
      Have you had a question for which you could only guess the answer?
      <br />
      Not much of a problem until ...
      <br />
      ... until there are more people in the party who want to guess
      <br />
      but noone wants to be first...
    </strong></p>
  </div>
</div>

<div class='row span10 offset1 lead'>
  <p>
    YouTellFirst is a service that helps you out in those situations.
    It's only a few simple steps:
  </p>
</div>
<div class='row span9 offset2 lead'>
  <ol>
    <li><%= link_to 'Sign in', new_user_session_path -%> or <%= link_to 'Sign up', new_user_registration_path -%></li>
    <li>Enter the question, your answer, and invite your friends to answer.</li>
    <li>Each of them gets an email with a link through which they can enter their answer (guess) &mdash; without knowing if and what others have answered.</li>
    <li>When all answers are in, every participant receives an email with all the answers.</li>
  </ol>
</div>

<div class='row span12 text-center'>
  <p class='lead'><strong><i>Noone knows what the others have said until all answers are in.</i></strong></p>
  <h3>So You All Tell First</h3>
</div>